<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <gallery translate="label" module="gallery">
            <label>SAG Gallery</label>
            <sort_order>100</sort_order>
        </gallery>
    </tabs>
    <sections>
        <saggallery translate="label" module="gallery">
            <label>Extension Options</label>
            <tab>gallery</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
				<readme translate="label">
                    <label>Information about SAG infotech</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>-1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <information>
                            <label>About Company</label>
                            <comment>
                                <![CDATA[The Best Website Design, Web Application Development , web solutions Company backed by a team of creative and experienced web designers, web developers. Website: <a href="http://www.sagipl.com" target="_blank">sagipl.com</a> ]]>
                            </comment>
                            <frontend_type>label</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </information>
                    </fields>
                </readme>
                <general translate="label" module="gallery">
                    <label>General Extension Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <gallery_enabled_select_box translate="label">
                            <label>Enabled: </label>
                            <comment>Make extension enabled Yes/No</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </gallery_enabled_select_box>
						<gallery_cat_per_page translate="label">
                            <label>Categories per Page Allowed Values: </label>
                            <comment>Comma-separated. And default value is 10,20,30</comment>
                            <frontend_type>text</frontend_type>
							<validate>validate-per-page-value-list</validate>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gallery_cat_per_page>
						<gallery_img_item_per_page translate="label">
                            <label>Image Items per Page Allowed Values: </label>
                            <comment>Comma-separated. And default value is 10,20,30</comment>
                            <frontend_type>text</frontend_type>
							<validate>validate-per-page-value-list</validate>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </gallery_img_item_per_page>
						
						
                    </fields>
                </general>
            </groups>
        </saggallery>
    </sections>
</config>